@import url(./reset.css);
@import url(./styles/header.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: var(--fonte-principal)                                                                                                                                                                                             ;
}

:root{
    --cor-preto: #000000;
    --cor_principal: #D52323;
    --fonte-principal: Poppins;
    --cor-fonte-branca: #FFFFFF;
    --cor-vermelho: #FF0000;
    --cor-cinza-fundo:#D9D9D9;
    --fonte-principal: Poppins, sans-serif;
}

body{
    background-color: var(--cor_principal);
    height: 100dvh;
}
.main__section1{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 37px;
}
.main__section1__descricao{
    display: flex;
    flex-direction: column;
    color: var(--cor-fonte-branca);
    gap: 10px;
}

.main__section1__descricao__titulo{
    font-size: 16px;
    font-weight: 600;
}

.main__section1__descricao__subtitulo{
    font-size: 32px;
    font-weight:800;
}

.main__section1__descricao__paragrafo{
    font-size: 16px;
}

.main__section1__descricao{
    margin: 50px 11px 0 11px;
}

.main__section1__descricao__button{
    background-color: var(--cor-cinza-fundo);
    margin-top: 25px;
    padding: 12px;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-preto);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main__section1__fotoLula{
    width: 183px;
}

.main__section1__imagem{
    display: flex;
    justify-content: center;
    height: 300px;
}