@import url(./reset.css);
@import url(./styles/header.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --cor_principal: #D52323;
    --fonte-principal: Poppins;
    --cor-fonte-branca: #FFFFFF;
    --cor-vermelho: #FF0000;
}

.section1{
    height: 100vh;
    background-color: var(--cor_principal);
    font-family: var(--fonte-principal);
    background-image: url(./img/foto_backgroud.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.section1{
    display: flex;
    align-items: center;
    text-align: center;
}

.section1__esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-left: 150px;
}

.section1__esquerda__titulo{
    font-size: 30px;
    font-weight:800;
    color: #553939;
}

.section1__esquerda__descricao{
    width: 505px;
    font-size: 20px;
    font-weight:400;
    color: var(--cor-fonte-branca);
}

.section1__esquerda__botao{
    border-radius: 50px;
    width: 200px;
    padding: 15px 15px;
    text-decoration: none;
    background-color: var(--cor-fonte-branca);
    color: var(--cor-vermelho);
    font-weight: 600;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 4px 8px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: 500ms linear;
}

.section1__esquerda__botao:hover{
    transform: scale(1.1);
}


